{% extends "orga/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}

{% block extra_title %}{% trans "Page" %} :: {% endblock %}

{% block content %}
    <h1>{% trans "Page" %}</h1>
    <form action="" method="post" class="form-horizontal" data-id="{{ page.id }}">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
                <fieldset>
                    <legend>{% trans "General information" %}</legend>
                    {% bootstrap_field form.title layout="event" %}
                    {% bootstrap_field form.slug layout="event" %}
                    {% bootstrap_field form.link_in_footer layout="event" %}
                </fieldset>
                <fieldset id="content">
                    <legend>{% trans "Page content" %}</legend>
                    {% bootstrap_field form.text layout="event" %}
                </fieldset>
                {% include "orga/includes/submit_row.html" %}
    </form>
{% endblock %}
